body {
    font-family: 'Inter', sans-serif;
  }
.smaller-width-table {
    max-width: 1025px; 
    width: 100%; 
  }
footer.footer {
    text-align: center;
    margin-top: 20px; 
    padding: 100px 0;  
  }
.contact-info {
    font-size: 14px; 
    color: #666; 
  }

body {
    font-family: 'Inter', sans-serif;
  }
  